.wrapper {
  width: 100vw;
  height: auto;
  padding: 2rem;
  background-color: rgba(35,45,60,1);
  text-align: center;
  display: none;
}

.about-title {
  color: lightgrey;
  font-family: "Poppins";
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.about-cont, .about-pics-wrapper {
  position: relative;
  height: auto;
  width: 80vw;
  background-color: rgb(50,60,76);
  text-align: left;
  margin-bottom: 2rem;
  left: calc(10vw - 2rem);
}

.about-h1, .about-pics-h1 {
  padding: 1rem;
  color: lightgrey;
  font-family: "Poppins";
  text-align: center;
}

.about-text {
  padding: 0 1rem 1rem 1rem;
  color: lightgrey;
  font-family: "Dosis";
  font-size: 0.8rem;
  line-height: 1rem;
}

.about-pics {
  width: 60vw;
  height: auto;
  position: relative;
  left: 10vw;
  margin: 2rem 0 2rem 0;
  padding: 2px;
  transition: all 0.5s ease-in-out;
}

.about-pics:hover {
  border: 2px solid lightgrey;
}

@media (min-width: 720px) {
  .about-text {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
  .about-title {
    margin-bottom: 2.5rem;
    font-size: 1.7rem;
  }
  
  .about-h1, .about-pics-h1 {
    font-size: 1.2rem;
  }
  
  .about-cont, .about-pics-wrapper {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .about-title {
    font-size: 2rem;
  }
  
  .about-cont, .about-pics-wrapper {
    padding: 1.5rem;
    margin-bottom: 5rem;
    max-width: 800px;
    left: calc(50% - 400px)
  }
  
  .about-pics {
    width: calc(800px - 3rem);
    left: calc(50% - 400px + 1.5rem);
  }
  
  .about-pics:hover {
    border: 4px solid lightgrey;
  }
  
  .about-h1, .about-pics-h1 {
    font-size: 1.5rem;
  }
  
  .about-text {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}