html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* header */

header {
  width: 100vw;
  height: calc(100vh - 8rem);
     background-image: url(assets/header-backg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  text-align: center;
}

.info {
  width: 70vw;
  max-width: 500px;
  height: auto;
  position: absolute;
  left: 15vw;
  top: calc(50vh - 35vh);
  padding: 1.5rem;
  background-color: rgba(50,60,76,.8);
  color: lightgrey;
  border-radius: 2rem;
}

.name {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins";
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.skills {
  font-family: "Poppins";
  text-align: center;
  font-size: 1rem;
}

.prof-pic {
  width: 100px;
  position: absolute;
  top: -65px;
  border-radius: 50%;
  left: calc(50% - 50px);
}

hr {
  margin: 1rem -0.5rem;
}

.contact {
  font-family: "Poppins";
  text-align: center;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: lightgrey;
}

 .fa-facebook-square:hover, .fa-tumblr-square:hover, .fa-instagram:hover {
  transform: scale(1.5);
  color: aqua;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 1rem 0;
}

.btns {
  position: relative;
}

.btn {
  position: relative;
  width: 100vw;
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  color: lightgray;
  background-color: rgba(50,60,75,1);
  font-family: "Poppins"
}

.btn:hover {
  background-color: lightgrey;
  color: rgba(50,60,75,.8);
}

.btns div.active {
    background-color: lightgrey;
  color: rgba(50,60,75,.8);
}

.hidden {
  display: none;
}


@media (min-width: 720px) {
  .btn {
    width: 25%;
    height: 3rem;
    display: inline-block;
    margin: 0;
    padding-top: 0.85rem;
    float: left;
    font-size: 1.3rem;
  }
  
  header {
    height: calc(100vh - 3rem);
  }
  
  .info {
    top: 20vh;
    left: calc(50vw - 250px);
  }
  
  .name {
    font-size: 1.7rem;
  }
  
  .skills {
    font-size: 1.2rem;
  }
  
  .contact {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .info {
    max-width: 600px;
    left: calc(50vw - 300px);
  }
  
  .name {
    font-size: 2rem;
  }
  
  .skills {
    font-size: 1.5rem;
  }
  
  .contact {
    font-size: 1.5rem;
  }
  
  .fa-facebook-square, .fa-tumblr-square, .fa-instagram {
    transform: scale(1.5);
  }
  
  .fa-facebook-square:hover, .fa-tumblr-square:hover, .fa-instagram:hover {
    color: aqua;
    transform: scale(1.7);
  }
}