html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* header */

header {
  width: 100vw;
  height: 100vh;
  background-image: url(assets/header-backg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

.info {
  width: 70vw;
  height: auto;
  position: absolute;
  left: 15vw;
  top: calc(50vh - 35vh);
  padding: 1.5rem;
  background-color: rgba(50,60,76,.8);
  color: lightgrey;
  border-radius: 2rem;
}

.name {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Abril Fatface";
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.skills {
  font-family: "Abril Fatface";
  text-align: center;
  font-size: 1rem;
}

.prof-pic {
  width: 100px;
  position: absolute;
  top: -65px;
  border-radius: 50%;
  left: calc(50% - 50px);
}

hr {
  margin: 1rem -0.5rem;
}

.contact {
  font-family: "Abril Fatface";
  text-align: center;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: lightgrey;
}

li:hover {
  transform: scale(1.5);
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 1rem 0;
}

.btn {
  position: absolute;
  width: 100vw;
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  color: lightgray;
  background-color: rgba(50,60,75,.8);
  font-family: "Abril Fatface"
}

.intro {
  bottom: 0;
}

.slam {
  bottom: 2rem;
}

.pics {
  bottom: 4rem;
}

.poems {
  bottom: 6rem;
}

.btn:hover {
  background-color: lightgrey;
  color: rgba(50,60,75,.8);
}

.btns div.active {
    background-color: lightgrey;
  color: rgba(50,60,75,.8);
}

.hidden {
  top: calc(-100vh + 8rem);
  position: absolute;
}