.wrapper {
  width: 100vw;
  height: auto;
  padding: 2rem;
  background-color: rgba(35,45,60,1);
  text-align: center;
  display: none;
  position: absolute;
}

.poems-h1, .book-of-poems-h1 {
  color: lightgrey;
  font-family: "Poppins";
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.poems-slide {
  width: 100vw;
  position: relative;
  height: auto;
  left: -2rem;
}

.poems-cont, .book-of-poems-cont {
  position: relative;
  height:auto;
  width: 80vw;
  background-color: rgb(50,60,76);
  text-align: left;
  margin-bottom: 2rem;
  left: calc(10vw);
}

.poem-h1 {
  padding: 1rem;
  color: lightgrey;
  font-family: "Poppins";
  text-align: center;
}

.poem {
  padding: 0 1rem 1rem 1rem;
  color: lightgrey;
  font-family: "Dosis";
  font-size: 0.8rem;
  line-height: 1rem;
}

.poems-navbar {
  width: 80vw;
  height: 3rem;
  position: relative;
  top: -2rem;
  margin-bottom: 0rem;
  left: calc(10vw - 2rem);
}

.poems-next-btn, .poems-previous-btn {
   text-align: left;
  color: lightgrey;
  font-size: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  width: 3rem;
  height: 3rem;
}

.poems-next-btn {
    right: 0;
  position: absolute;
  transform: rotate(180deg);
  top: 0;
}

.poems-previous-btn:hover, .poems-next-btn:hover {
  color: aqua;
  transform: scale(1.2);
}

.poems-next-btn:hover {
  transform: rotate(180deg) scale(1.2);
}

.poems-page-number {
  color: lightgrey;
  font-family: Dosis;
  font-weight: bold;
  position: relative;
  top: -2rem;
  width: 3rem;
  left: calc(50% - 1.5rem);
}

.active {
  display: block;
}

.back {
  position: absolute;
  color: lightgrey;
  padding: 0.5rem;
}

.back:hover {
  transform: scale(1.5);
  color: lightslategrey;
}

.book-of-poems-pic {
  width: 80%;
  padding-bottom: 2rem;
}

.book-of-poems-cont {
  text-align: center;
  padding: 2rem 0;
  position: relative;
  left: 3vw;
}

.book-info {
  text-align: left;
}

.book-links {
  display: block;
  color: lightblue;
  text-align: left;
  padding-left: 1rem;
  line-height: 1rem;
  font-size: 0.8rem;
  font-family: Dosis;
  font-weight: bold;
}

.book-links:hover {
  color: aqua;
}

@media (min-width: 720px) {
  .wrapper {
    position: absolute;
    top: 3rem;
  }
  
  .poems-h1, .book-of-poems-h1 {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
  }
  
  .poem-h1 {
    font-size: 1.2rem;
  }
  
  .poem, .book-links {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
  .poems-cont {
    padding: 1.2rem;
    margin-bottom: 2.5rem;
  }
  
  .book-of-poems-cont {
    margin-bottom: 2.5rem;
    left: 2.5rem;
  }
  
  .back {
    font-size: 1.2rem;
    left: calc(5vw + 2rem);
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 5rem;
    width: 100%;
  }
  
  .poems-h1, .book-of-poems-h1 {
    font-size: 2rem;
  }
  
  .poem-h1 {
    font-size: 1.5rem;
  }
  
  .poems-slide {
    left: -5rem;
  }
  
  .poems-cont {
    padding: 1.5rem;
    margin-bottom: 5rem;
    max-width: 800px;
    left: calc(50% - 400px)
  }
  
  .book-of-poems-cont {
    margin-bottom: 5rem;
    max-width: 800px;
    left: calc(50% - 400px);
    padding: 1.5rem;
  }
  
  .poem, .book-links {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  
  .back {
    font-size: 1.5rem;
  }
  
  .poems-slide {
    left: -5rem;
  }
  
  .poems-navbar {
    width: 800px;
    left: calc(50% - 400px);
    top: -5rem;
    margin-bottom: 5rem;
  }
}