.poems-wrapper {
  width: 100vw;
  height: auto;
  padding: 2rem;
  background-color: rgba(35,45,60,.97);
  text-align: center;
  display: none;
}

.poems-h1 {
  color: lightgrey;
  font-family: "Poppins";
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.poems-cont {
  position: relative;
  height:auto;
  width: 80vw;
  background-color: rgb(50,60,76);
  text-align: left;
  margin-bottom: 2rem;
}

.poem-h1 {
  padding: 1rem;
  color: lightgrey;
  font-family: "Poppins";
  text-align: center;
}

.poem {
  padding: 0 1rem 1rem 1rem;
  color: lightgrey;
  font-family: "Dosis";
  font-size: 0.8rem;
  line-height: 1rem;
}

.active {
  display: block;
}

.back {
  position: absolute;
  color: lightgrey;
  padding: 0.5rem;
}

.back:hover {
  transform: scale(1.5);
  color: lightslategrey;
}