/* video bootstrap */

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(10vw - 2rem);
  width: 80vw;
  height: 100%;
  border: 0;

}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

/* other css */

.wrapper {
  width: 100vw;
  height: auto;
  padding: 2rem;
  background-color: rgba(35,45,60,1);
  text-align: center;
  display: none;
}

.slam-title {
  color: lightgrey;
  font-family: "Poppins";
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.slam-info {
  position: relative;
  height:auto;
  width: 80vw;
  background-color: rgb(50,60,76);
  text-align: left;
  margin-bottom: 2rem;
  left: calc(10vw - 2rem);
}

.slam-h1, .video-title {
  padding: 1rem;
  color: lightgrey;
  font-family: "Poppins";
  text-align: center;
}

.slam-intro {
  padding: 0 1rem 1rem 1rem;
  color: lightgrey;
  font-family: "Dosis";
  font-size: 0.8rem;
  line-height: 1rem;
}

/* info btn */

.info-btn {
  height: 1.5rem;
  width: 5rem;
  padding-top: 0.15rem; 
  margin: 0 0 2rem 0;
  text-align: center;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  border-radius: 0 0 10px 10px;
  color: lightgrey;
  font-family: Dosis;
  position: relative;
  left: calc(10vw - 2rem);
}

.info-btn:hover {
  background-color: lightgray;
  color: rgb(50,60,76);
}

/* panel */

.panel {
  margin: 0;
  padding: 1rem;
  width: 100%;
  text-align: left;
  background-color: rgb(50,60,76);
  color: lightgray;
  font-family: Dosis;
  font-size: 0.8rem;
  line-height: 1rem;
  display: none;
  width: 80vw;
  position: relative;
  left: calc(10vw - 2rem);
}

.youtube {
  font-weight: bold;
  color: lightblue;
}

.youtube:hover {
  color: aqua;
}

.fa-youtube-play {
  color: red;
}

.active {
  display: block;
}

@media (min-width: 720px) {
  
  .wrapper {
    position: absolute;
    top: 3rem;
  }
  
  .poems-h1, .slam-title, .about-title {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
    margin-top: 0.5rem;
  }
  
  .poem-h1, .slam-h1, .video-title, .about-h1, .about-pics-h1 {
    font-size: 1.2rem;
  }
  
  .poem, .slam-intro {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
  .poems-cont {
    padding: 1.2rem;
    margin-bottom: 2.5rem;
  }
  
  .back {
    font-size: 1.2rem;
    left: calc(5vw + 2rem);
  }
  
  .info-btn {
    position: relative;
    font-size: 1.4rem;
    height: 2rem;
    width: 7rem;
  }
  
  .panel {
    position: relative;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
  @media (min-width: 1024px) {
    .slam-title {
      font-size: 2rem;
    }
    
    .slam-h1, .video-title {
      font-size: 1.5rem;
    }
    
    .slam-info {
    padding: 1.5rem;
    margin-bottom: 5rem;
    max-width: 800px;
    left: calc(50% - 400px)
  }
    
    .slam-intro {
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
    
    .embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    width: 800px;
    height: 480px;
    left: calc(50% - 400px); 
    }
    
  .embed-responsive {
    width: 800px;
    max-height: 480px;
    left: calc(50% - 400px);
    }
    
    .embed-responsive-16by9 {
    padding-bottom: 40%;
    }
  
    .panel {
      width: 800px;
      font-size: 1.3rem;
      line-height: 1.5rem;
      left: calc(50% - 400px);
    }
    
    .info-btn {
      height: 3rem;
      width: 10rem;
      font-size: 1.7rem;
      padding-top: .6rem;
      margin-bottom: 5rem;
      left: calc(50% - 400px);
    }

}