/* video bootstrap */

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

/* other css */

.wrapper {
  width: 100vw;
  height: auto;
  padding: 2rem;
  background-color: rgba(35,45,60,.97);
  text-align: center;
  display: none;
}

.slam-title {
  color: lightgrey;
  font-family: "Poppins";
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.slam-info {
  position: relative;
  height:auto;
  width: 80vw;
  background-color: rgb(50,60,76);
  text-align: left;
  margin-bottom: 2rem;
}

.slam-h1, .video-title {
  padding: 1rem;
  color: lightgrey;
  font-family: "Poppins";
  text-align: center;
}

.slam-intro {
  padding: 0 1rem 1rem 1rem;
  color: lightgrey;
  font-family: "Dosis";
  font-size: 0.8rem;
  line-height: 1rem;
}

/* info btn */

.info-btn {
  height: 1.5rem;
  width: 5rem;
  padding-top: 0.15rem; 
  margin: 0 0 2rem 0;
  text-align: center;
  border-bottom: 2px solid lightgrey;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  border-radius: 0 0 10px 10px;
  color: lightgrey;
  font-family: Dosis;
}

.info-btn:hover {
  background-color: lightgray;
  color: rgb(50,60,76);
}

/* panel */

.panel {
  margin: 0;
  padding: 1rem;
  width: 100%;
  text-align: left;
  background-color: rgb(50,60,76);
  color: lightgray;
  font-family: Dosis;
  font-size: 0.8rem;
  line-height: 1rem;
  display: none;
}

.youtube {
  font-weight: bold;
  color: lightblue;
}

.youtube:hover {
  color: aqua;
}

.fa-youtube-play {
  color: red;
}

.active {
  display: block;
}